<div class="list-group-item d-flex" [class.viewed-details]="viewMode" >
  <a href="#state-registration-details" class="mr-auto" [class.viewed-details]="viewMode" data-toggle="collapse" (click)="viewForm()">
    <p class="m-0 align-middle">{{title}}</p>
  </a>
  <div [class.invisible]="isNewForm">
    <div class="btn-group mr-2" [class.invisible]="!viewMode || !editable" role="group" aria-label="Second persist group">
      <button class="btn btn-warning" type="button" (click)="saveForm()">
        <i class="fa fa-floppy-o"></i>
      </button>
    </div>
    <div class="btn-group" [class.invisible]="!viewMode" role="group" aria-label="First persist group">
      <button class="btn btn-warning" type="button" (click)="editForm()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
</div>
<div class="collapse" id="state-registration-details">
  <div class="input-group mt-3 mb-3">

    <div class="col-md-6">
      <label for="inn">ИНН:</label>
      <input type="text" class="form-control" id="inn" [disabled]="!editable && !isNewForm" [(ngModel)]="stateRegistration.inn" >
    </div>

    <div class="col-md-6">
      <label for="ogrnip">ОГРНИП:</label>
      <input type="text" class="form-control" id="ogrnip" [disabled]="!editable && !isNewForm" [(ngModel)]="stateRegistration.ogrnip" >
    </div>

    <div class="w-100"></div>

  </div>
</div>
