<!-- PROFILE -->
<div class="container">
  <!-- PROFILE SIDEBAR -->
  <div></div>
  <div class="row">

    <div class="col-md-2 pr-md-0">
      <div class="profile-menu border">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile/{{profileId}}/employee/{{employeeId}}">
              <i class="fa fa-home fa-fw"></i>
              Главная
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/chat">
              <i class="fa fa-envelope-o fa-fw"></i>
              Сообщения
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile/{{profileId}}/employee/{{employeeId}}/invitation">
              <i class="fa fa-globe fa-fw"></i>
              Приглашения
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-plane fa-fw"></i>
              Выезды
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-university fa-fw"></i>
              Публикации
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-briefcase fa-fw"></i>
              Проекты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-cogs fa-fw"></i>
              Настройки
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-flag-o fa-fw"></i>
              Помощь
            </a>
          </li>
        </ul>
      </div>
    </div>


      <div class="col-md m-1 ml-4 pt-1 row rounded-lg overflow-hidden shadow">
        <!-- Users box-->
        <div class="col-5 px-0">
          <div class="bg-white">

            <div class="bg-gray px-4 py-2 bg-light">
              <input class="form-control form-control-sm" type="text" #searchInput name="searchInput" placeholder="Поиск пользователя" aria-label="default input example">
              <span class="btn btn-warning" (click)="searchUsers(searchInput.value)">Поиск</span>
            </div>

            <div class="messages-box">
              <div class="list-group rounded-0" *ngFor="let item of chatDataJson">
                
                <a (click)="chatUserSelected(''+item.userid)" [class.bg-warning]="item.userid == selectedUserid" class="list-group-item list-group-item-action rounded-0">
                  <div class="media">
                    <img src="{{item.image}}" alt="user" width="60" height="60" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">{{item.userfullname}}</h6><small class="small font-weight-bold">{{item.lastmessagedate}}</small>
                      </div>
                      <p class=" text-dark mb-0 text-small">{{item.lastmessage}}</p>
                    </div>
                  </div>
                </a>

                <!--<a (click)="chatUserSelected($event)" [attr.data-userid]="2" class="list-group-item list-group-item-action rounded-0">
                  <div class="media">
                    <img src="../../../assets/images/profilephotos/alisa.jpg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Алиса Буковская</h6><small class="small font-weight-bold">Вчера</small>
                      </div>
                      <p class=" text-muted mb-0 text-small">Вы: Отличная работа.</p>
                    </div>
                  </div>
                </a>

                <a (click)="chatUserSelected($event)" [attr.data-userid]="3" class="list-group-item list-group-item-action rounded-0">
                  <div class="media">
                    <img src="../../../assets/images/profilephotos/lora.jpg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Лора Кузова</h6><small class="small font-weight-bold">Вчера</small>
                      </div>
                      <p class=" text-muted mb-0 text-small">Встречу перенесли на 11-го.</p>
                    </div>
                  </div>
                </a>

                <div (click)="chatUserSelected($event)" [attr.data-userid]="4" class="list-group-item list-group-item-action rounded-0">
                  <div class="media">
                    <img src="../../../assets/images/profilephotos/nastya.jpg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Настя Трофимова</h6><small class="small font-weight-bold">03.02.2021</small>
                      </div>
                      <p class=" text-muted mb-0 text-small">Я отправил вам отчёты</p>
                    </div>
                  </div>
                </div>

                <a (click)="chatUserSelected($event)" [attr.data-userid]="5" class="list-group-item list-group-item-action rounded-0">
                  <div class="media">
                    <img src="../../../assets/images/profilephotos/tom.jpg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Рахаб Магамедов</h6><small class="small font-weight-bold">25.01.2021</small>
                      </div>
                      <p class=" text-muted mb-0 text-small">Презентация была отличной.</p>
                    </div>
                  </div>
                </a>-->

                <!--<a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
    <div class="media">
      <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
      <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">2 Sep</small>
        </div>
        <p class=" text-muted mb-0 text-small">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
    <div class="media">
      <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
      <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">30 Aug</small>
        </div>
        <p class=" text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
    <div class="media">
      <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
      <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">21 Aug</small>
        </div>
        <p class=" text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </a>-->

              </div>
            </div>
          </div>
        </div>
        <!-- Chat Box-->
        <div class="col-7 mb-3 px-0">
          <div class="px-4 py-5 chat-box bg-white" id="chatroom">
            
            <!-- Sender Message-->
            <!--<div class="media w-50 mb-3">
    <div class="media-body ml-3">
      <div class="bg-light rounded py-2 px-3 mb-2">
        <p class="text-small mb-0 text-muted">Почему?</p>
      </div>
      <p class="small text-muted">11:00 Май 20</p>
    </div>
  </div>-->
            <!-- Reciever Message-->
            <!--<div class="media w-50 ml-auto mb-3">
    <div class="media-body">
      <div class="bg-warning rounded py-2 px-3 mb-2">
        <p class="text-small mb-0 text-dark">Почему Вы думаете, что должны делать диплом в МТИ?</p>
      </div>
      <p class="small text-muted">11:03 Май 20</p>
    </div>
  </div>-->
            <!-- Sender Message-->
            <!--<div class="media w-50 mb-3">
    <div class="media-body ml-3">
      <div class="bg-light rounded py-2 px-3 mb-2">
        <p class="text-small mb-0 text-muted">Потому что МТИ – лучшая научная школа во всей стране</p>
      </div>
      <p class="small text-muted">11:05 Май 20</p>
    </div>
  </div>-->
            <!-- Reciever Message-->
            <!--<div class="media w-50 ml-auto mb-3">
    <div class="media-body">
      <div class="bg-warning rounded py-2 px-3 mb-2">
        <p class="text-small mb-0 text-dark">Вы так думаете? </p>
      </div>
      <p class="small text-muted">11:11 Май 20</p>
    </div>
  </div>-->

            <!--<div class="media w-100 mb-3">
              <img src="../../../assets/images/profilephotos/tom.jpg" alt="user" width="35" height="35" class="rounded-circle">
              <div class="media-body ml-1">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Здравствуйте. </p>
                </div>
                <p class="small text-muted" style="text-align: end">11:13 20-Май</p>
              </div>
            </div>

            <div class="media w-100 mb-3">
              <img src="../../../assets/images/profilephotos/alisa.jpg" alt="user" width="35" height="35" class="rounded-circle">
              <div class="media-body ml-1">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Здравствуйте. </p>
                </div>
                <p class="small text-muted" style="text-align: end">11:13 20-Май</p>
              </div>
            </div>-->

            <!-- Reciever Message-->
            <!--<div class="media w-50 ml-auto mb-3">
    <div class="media-body">
      <div class="bg-warning rounded py-2 px-3 mb-2">
        <p class="text-small mb-0 text-dark">
          Именно поэтому Вы должны поехать в другое место. Вам надо выяснить, как
          выглядит весь остальной мир.
        </p>
      </div>
      <p class="small text-muted">11:14 Май 20</p>
    </div>
  </div>-->

          </div>

          <!-- Typing area -->
          <form action="#" class="bg-light" (submit)="sendMessage(message.value)">
            <div class="input-group">
              <!--<input type="text" id="receiver" value="{{receiver}}" placeholder="Введите получателя" />-->
              <input #message type="text" id="message" autocomplete="off" placeholder="Введите сообщение" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-warning"> <i class="fa fa-check"></i></button>
              </div>
            </div>
          </form>


            <!--<div id="loginBlock">
              Токен:<br />
              <input id="token" type="text" value="{{accessToken}}" />
            </div>-->

            <!--<form id="inputForm" (submit)="sendMessage(message.value, receiver.value)">
              <input #message type="text" id="message" placeholder="Введите сообщение" />
              <input #receiver type="text" id="receiver" placeholder="Введите получателя" />
              <input type="submit" value="Отправить" />
            </form>-->


        </div>
      </div>


  </div>



</div>




