div {
  font-size: 72px;
  color: black;
  background-color: #e9e9e9;
  font-weight: bold;
  text-align: center;
  height: 500px;
  margin-top: 150px;
  padding-top: 170px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
